<div class="container">
  <div class="card">
    <h1 class="card-header">Konto Bewegungen</h1>
    <div class="card-block">
      <form #filterForm="ngForm">
        <div class="form-group">
          <label for="yearSelect">Wähle ein Jahr</label>
          <select id="yearSelect" name="yearSelect" class="form-control" (change)="refresh(filterForm)" [(ngModel)]="selectedYear" required>
            <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="monthSelect">Wähle einen Monat</label>
          <select id="monthSelect" name="monthSelect" class="form-control" (change)="refresh(filterForm)" [(ngModel)]="selectedMonth" required>
            <option *ngFor="let month of months" [ngValue]="months.indexOf(month)">{{month}}</option>
          </select>
        </div>
      </form>
      <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
          <th>Datum</th>
          <th>Von</th>
          <th>Zu</th>
          <th>Betrag</th>
          <th>Kontostand Neu</th>
        </thead>
        <tr *ngFor="let trans of transactions">
          <th scope="row">{{trans.date | date: 'shortDate'}}</th>
          <td>{{trans.from}}</td>
          <td>{{trans.to}}</td>
          <td>{{trans.amount | number: '1.2-2'}} CHF</td>
          <td>{{trans.balance | number: '1.2-2'}} CHF</td>
        </tr>
      </table>
    </div>
  </div>
</div>
