<form (ngSubmit)="doLogin(loginForm)" #loginForm="ngForm">
  <div class="form-group">
    <label for="login">User name:</label>
    <div>
      <input pattern=".{3,}" class="form-control" placeholder="User" type="text" name="login" id="login" ngModel/>
      <div>Please specify your login, at least three characters.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <div>
      <input pattern=".{3,}" class="form-control" placeholder="Password" type="password" name="password" id="password" ngModel/>
      <div>Please specify your password, at least three characters.</div>
    </div>
  </div>
  <button class="btn btn-default">Login</button>
</form>
