/* You can add global styles to this file, and also import other style files */
input.ng-pristine {
  box-shadow: none;
}

.custInvalid > input {
  box-shadow: 0px 0px 1.5px 1px red;
}

.card {
  margin-top: 15px;
}

.table {
  display: table;
}
